<div class="map-google-view__container">
  <div class="map-google-view__header">
    <div class="map-google-view__header__row">
      <button (click)="__global.history.back()">Back</button>
      <div class="map-google-view__header__title">[[title]]</div>
    </div>
    <div class="map-google-view__header__row">
      <input id="search" type="search" value="{{search}}"></input>
    </div>
  </div>

  <map-google
    id="map"
    class="flex"
    style="height: 100%"
    zoom="18"
    map="{{map}}"
    mark-center
    latitude="{{latitude}}"
    longitude="{{longitude}}"
    current-location
    disable-fullscreen-control
    disable-map-type-control
    disable-street-view-control
    api-key="[[apiKey]]"
    (google-map-ready)="_mapReady(evt)"
    >
  </map-google>

  <div class="map-google-view__footer">
    <button (click)="_chooseClicked(evt)">Choose</button>
  </div>
</div>
